* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f8f8;
}
a {
  color: black;
  text-decoration: none;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 0.2vw;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #000000;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #000000;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
.page-loader-container {
  width: 100%;
  height: 85vh;
  position: fixed;
  top: 10vw;
  left: 0;
  background-color: white;
  z-index: 1000;
}
.loader-page,
.loader-page:before,
.loader-page:after {
  border-radius: 50%;
}
.loader-page {
  color: #000000;
  font-size: 0.4vw;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  left: 48vw;
  top: 35vh;
}
.loader-page:before,
.loader-page:after {
  position: absolute;
  content: '';
}
.loader-page:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader-page:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.button {
  background-color: black;
  color: white;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
}
.page-header {
  text-align: center;
  margin-top: 12vw;
  font-weight: 900;
  font-size: 12vw;
}
.desktop {
  display: none;
}
.mobile {
  display: block;
}
.main-img {
  width: 50vw;
  height: 50vw;
  border-radius: 15px;
  background-position: center;
  background-size: 107%;
  box-shadow: 3px 3px 35px rgba(0, 0, 0, 0.257);
  position: absolute;
  background-repeat: no-repeat;
}
#red-img {
  background-image: url('../images/alexander-popov-vCbKwN2IXT4-unsplash.jpg');
  background-size: cover;
  top: 14vh;
  left: 8vw;
}
#colorful-img {
  background-image: url('../images/labirynth.png');
  top: 27vh;
  left: 42vw;
}
.slogan {
  margin: 49vh 0 0 5vw;
  font-weight: 900;
  font-size: 9vw;
}
.slogan b {
  font-weight: 900;
}
.main-description {
  font-weight: 400;
  font-size: 4.7vw;
  width: 90vw;
  margin: 2vw 0 0 5vw;
}
.main-btn {
  font-family: 'Montserrat', sans-serif;
  width: 60vw;
  height: 14vw;
  border-radius: 10px;
  margin: 7vw 0 0 5vw;
  border: none;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.189);
  font-size: 3.5vw;
}
.about-container {
  width: 85vw;
  height: 80vw;
  border: solid black 5px;
  border-radius: 8px;
  margin-left: 5vw;
  margin-top: 30vw;
}
.vl {
  border-left: 5px solid rgb(0, 0, 0);
  height: 10vw;
  margin-left: 8vw;
}
.about-header {
  margin-left: 7.5vw;
  font-weight: 800;
  font-size: 8.5vw;
}
.about-description {
  width: 47vw;
  font-weight: 400;
  font-size: 4.5vw;
  margin: 4vw 0 0 7.5vw;
}
.collection-btn {
  width: 100%;
  border: none;
  height: 10vw;
  text-align: left;
  padding-left: 10%;
  margin-top: 8vw;
  font-weight: 400;
}
.iphone-mockup {
  width: 39vw;
  height: 75vw;
  position: absolute;
  margin: -55vw 0 0 54vw;
  background-image: url('../images/oneiphone.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(0px);
}
.hl {
  margin: 40vw 0 0 0vw;
  border-bottom: 5px solid rgb(0, 0, 0);
  width: 5vw;
}
.benefits-header {
  margin: -5.5vw 0 0 7vw;
  font-weight: 800;
  font-size: 9vw;
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.benefit {
  margin-top: 15vw;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.benefit-illustration {
  width: 30vw;
  height: 30vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.benefit-description {
  margin-top: 5vw;
  font-size: 4.5vw;
  font-weight: 500;
}
#vip-illustration {
  background-image: url('../images/vip-pass.png');
}
#tokens-illustration {
  background-image: url('../images/tokens.png');
}
#community-illustration {
  background-image: url('../images/vip-card.png');
}
.cta-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vw;
  margin-bottom: 20vw;
  height: 100vw;
}
.cta-btn {
  padding: 5vw;
  width: 80vw;
  height: 60vw;
  border-radius: 25px;
  border: none;
  font-size: 7.7vw;
  box-shadow: 4px 8px 34px rgba(0, 0, 0, 0.47);
  transition: all 0.7s ease;
}
.cta-btn:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 34px rgba(0, 0, 0, 0.67);
}
@media screen and (min-width: 1200px) {
  .page-loader-container {
    top: 6.5vw;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .main-img {
    width: 23vw;
    height: 23vw;
  }
  .page-header {
    text-align: left;
    margin-top: -2.5vw;
    font-size: 4vw;
    margin-left: 7vw;
  }
  #red-img {
    top: 20vh;
    left: 52vw;
  }
  #colorful-img {
    top: 47vh;
    left: 70vw;
  }
  #main-vl {
    position: absolute;
    margin-left: 2.5vw;
    height: 28vh;
    border: 2px solid black;
    margin-top: -31vh;
  }
  .slogan {
    margin: 45vh 0 0 2.5vw;
    font-size: 4.5vw;
    line-height: 5vw;
    font-weight: 400;
  }
  .main-description {
    font-size: 1.8vw;
    width: 45vw;
    margin: 1vw 0 0 2.5vw;
  }
  .main-btn {
    width: 30vw;
    height: 6vw;
    border-radius: 20px;
    margin: 3vw 0 0 2.5vw;
    font-size: 1.8vw;
  }
  .about-container {
    width: 70vw;
    height: 33vw;
    margin-left: 12vw;
    margin-top: 30vh;
  }
  .vl {
    border-left: 5px solid rgb(0, 0, 0);
    height: 5vw;
    margin-left: 8vw;
  }
  .about-header {
    font-size: 4.5vw;
    line-height: 5vw;
  }
  .about-description {
    font-size: 1.8vw;
    margin: 2vw 0 0 7.5vw;
    width: 45vw;
  }
  .collection-btn {
    height: 5vw;
    margin-top: 2.5vw;
    font-size: 1.5vw;
  }
  .iphone-mockup {
    width: 24vw;
    height: 38vw;
    position: absolute;
    margin: -31vw 0 0 55vw;
  }
  .benefits-conatiner {
    background-color: rgb(237, 237, 239);
    margin-top: 15vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  .hl {
    margin: 0vw 0 0 0vw;
  }
  .page-hl {
    margin-top: 10vw;
  }
  .benefits-header {
    margin: -3vw 0 0 7vw;
    font-size: 4.5vw;
  }
  .benefits {
    flex-wrap: nowrap;
  }
  .benefit {
    margin-top: 5vw;
    width: 20vw;
    margin: 5vw 5vw 0 5vw;
  }
  .benefit-illustration {
    width: 10vw;
    height: 10vw;
  }
  .benefit-description {
    margin-top: 3vw;
    font-size: 1.5vw;
  }
  .cta-btn-container {
    margin-top: 5vw;
    margin-bottom: 5vw;
    height: 40vw;
  }
  .cta-btn {
    padding: 3vw;
    width: 55vw;
    height: 25vw;
    font-size: 4.5vw;
    cursor: pointer;
  }
  .cta-btn:hover {
    transform: scale(1.1);
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.8);
  }
}
